<h2>List of Countries</h2>
<div ng-if="loading" class="loader"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
<table class="table" ng-show="!loading">
	<thead >
		<tr>
			<td><h3>Name</h3></td>
			<td><h3>Code</h3></td>
			<td><h3>Capital</h3></td>
			<td><h3>Population</h3></td>
			<td><h3>More</h3></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="country in countryList">
			<td>{{ country.countryName }}</td>
			<td>{{ country.countryCode }}</td>
			<td>{{ country.capital }}</td>
			<td>{{ country.population | number }}</td>
			<td><a ng-href="/#/countries/{{ country.countryCode }}">GO</a></td>
		</tr>
	</tbody>
</table>